$primary   : #000000;
$secondary : #cacaca;
$accent    : #e9690a;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
